#anpr{
margin-left:  30px;
}
aside #app-aside{
height:65vh;
}
h3{
	color:#03368B;
}
#app-aside h6{
	color: 		#0a54c3;
	text-align: center;
}
#menu ul li{

}
#menu li a{
	color: #333232;
	font-size: 14px;
}
#menu li a:hover{
	color: rgb(115, 115, 115);
}
#closet{
	font-size: 12px;
}
#informacionDeUsuario p{
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 0;
	color: rgb(35, 92, 25);
}
.formulario{
	margin: auto;
}
.ancho{
	max-width: 100%;
}
#buscador{
	width: 100px !important;
}
#eliminar{
	color: rgb(171, 16, 35);
}
